@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, rgba(235, 248, 250, 0.5) 0%, rgba(183, 226, 255, 0.82) 100%);
  min-height: 100vh;
}

a {
  color: #7303fc;
}

input[type=text], input[type=password], select, textarea, .label {
    @apply rounded-lg p-1 border-2 border-gray-100 bg-transparent bg-white focus:outline-none resize-none;
    box-shadow: 0px 4px 4px 0px #330FFF40;
}

.p-lg {
  @apply p-2
}

.p-r {
  @apply pr-12
}

button {
  @apply bg-black text-white rounded-lg py-2 font-semibold
}